html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #e0e0e0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

label {
  display: block;
}

p, a, h1, .field {
  text-decoration: none;
  display: inline-block;
}

/*a:visited {

  color: white;
}*/

a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  background: white;
  border: 1px solid black;
  box-shadow: none;
  height: 30px;
  font-size: 100%;
}

input[type="submit"]:hover {
  background: black;
  color: white;



}

input {
  box-shadow: none;
}

*:focus {
  outline-width: 3px;
}

nav.submenu {
  overflow: auto;
  display: inline;
  margin-left: 50%;
  margin-right: 50%;
  margin: 0;
  padding: 0;


}